.content {
    text-align: center; 
    margin: auto;
    width: 450px;
    vertical-align: middle;
    color: white;
    
}

section {
    background-image: url("https://images.unsplash.com/photo-1623039925595-bb30257f6717?auto=format&fit=crop&q=80&w=2574&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: 58% 49%;
    background-size: 1200px;
    padding: 3.5em 0 5.5em;
    background-repeat: no-repeat;
    
}
.content h1{
    color: white;
    background-color: black;
    padding: .30em;
    border-radius: 1em;
}
.content h2{
    color: white;
}

h1{
    margin: 1em;
    font-size: 2em;
    font-weight: 700;
}
h2{
    margin: 2em 0;
    font-size: 1.5em;
}

.topNav{
align-items: center;
margin: 1.5em;
}

.topNav a {
    margin: .5em;
}

.topNav button {
    margin: .5em;
    border-radius: 1em;
}

.btnSignUp{
    color: white;
    font-size: 1em;
    font-weight: 700;
    background-color: black;
    border-radius: 1.5em;
    border-style: none;
    padding: .65em 1.5em;
}

.login{
    color: black;
    font-weight: 700;
    font-size: 1em;
}

.navRight {
    float: right;
}
.input {
    margin: 0 0 1.5em;  
}

#gap{
padding: 4em 0;
}

#iconSocial {
    margin: 1em;
}

#emAgency {
    font-weight: 700;
}

.info{
    font-weight: 600;
}
